body{
    font-family: tahoma, sans-serif;
    text-align: left;
    background-image: linear-gradient(to bottom right, #abbaab, #ffffff);
    margin-bottom: 5%;
}
.main{
    margin-left: 32%;
    margin-right: 25%;
    min-width: 541px;
}
.header{
    color: rgb(14, 55, 95);
    text-transform: uppercase;
    margin-left: 15%;
    margin-right: 17%;
    border-bottom: 4px solid rgb(100, 105, 112);
    min-width: 901px;
    min-height: 40px;
}
.section{
    color:rgb(68, 121, 173);
    text-transform: uppercase;
}
h4{
    color: rgb(118, 140, 161);
    line-height: 2px;
}
img{
    width: 100px;
    float: right;
    border: 2px solid rgb(100, 105, 112);
    min-width: 165px;
    min-height: 220px;
}
.column{
    float: left;
    margin-left: 15%;
    min-width: 196px;
    min-height: 400px;
}
.column1{
    border-bottom: 4px solid rgb(100, 105, 112);
}
.column2{
    border-bottom: 4px solid rgb(100, 105, 112);
}
h1 {
    width: 901px;
    height: 40px;
    background: none;
    position: relative;
    animation: slide 1.5s;
    animation-iteration-count: 4;
    animation-direction: alternate; 
    animation-timing-function: linear
  }
  
  @keyframes slide {
    from {left:0px; top:0px;}
    to {left:280px; top:0px;}
  }
